PORT=3000
NODE_ENV=development
JWT_SECRET=change_this_secret
FRONTEND_URL=http://localhost:5173

# PostgreSQL local
DB_HOST=localhost
DB_PORT=5432
DB_NAME=cin_delices
DB_USER=postgres
DB_PASSWORD=postgres

# Optionnel pour Render / Railway / Supabase
DATABASE_URL=postgres://user:password@host:5432/database
