* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 320px;
    min-height: 100%;
}

body {
    background-color: #0d0d0d;
    color: white;
    font-family: "Poppins", sans-serif;
}

#app {
    width: 100%;
    min-height: 100vh;
}

h1,
h2,
h3 {
    font-family: "Bebas Neue", sans-serif;
    color: #d4af37;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}