* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;

    width: 100%;
    min-width: 320px;
    min-height: 100%;

    overflow-x: hidden;
}

body {
    background-color: #0d0d0d;
    color: white;

    font-family: "Poppins", sans-serif;
}

#app {
    width: 100%;
    min-height: 100vh;
}

main {
    width: 100%;
}

/* TITRES */

h1,
h2,
h3 {
    font-family: "Bebas Neue", sans-serif;
    color: #d4af37;
    letter-spacing: 1px;
}

/* LIENS */

a {
    text-decoration: none;
}

/* IMAGES */

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* FORMULAIRES */

button,
input,
select,
textarea {
    font-family: "Poppins", sans-serif;
}

input,
select,
textarea,
button {
    max-width: 100%;
}

/* TABLETTE */

@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }
}

/* MOBILE */

@media (max-width: 480px) {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 22px;
    }

    body {
        font-size: 14px;
    }
}